<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="AutomationTest.Listener"></listener>
</listeners>
<test name="Test1">
  
    <classes>
      <class name="AutomationTest.AutomationTest1"/>
    </classes>
  </test> 
<test name="Test2">
  
    <classes>
      <class name="AutomationTest.AutomationTest2"/>
    </classes>
  </test> 
 <test name="Test3">
  
    <classes>
      <class name="AutomationTest.AutomationTest3"/>
    </classes>
  </test> 
   
  <!-- Test -->
</suite> <!-- Suite -->
